/* 
  ====================
  Reset
  ====================
*/
/* 
  http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:link, a:visited {
  text-decoration: none;
}


/* 
  ====================
  Fonts
  ====================
*/

@font-face {
  font-family: Pattaya;
  src: url("../fonts/Pattaya-Regular.ttf");
}

@font-face {
  font-family: Shadows;
  src: url("../fonts/ShadowsIntoLight-Regular.ttf");
}

@font-face {
  font-family: Amatic;
  src: url("../fonts/AmaticSC-Regular.ttf");
}

@font-face {
  font-family: Orbitron;
  src: url("../fonts/Orbitron-VariableFont_wght.ttf");
}

@font-face {
  font-family: Monoton;
  src: url("../fonts/Monoton-Regular.ttf");
}

@font-face {
  font-family: Bangers;
  src: url("../fonts/Bangers-Regular.ttf");
}

@font-face {
  font-family: Syncopate;
  src: url("../fonts/Syncopate-Regular.ttf");
}

@font-face {
  font-family: Audiowide;
  src: url("../fonts/Audiowide-Regular.ttf");
}

@font-face {
  font-family: Pontano;
  src: url("../fonts/PontanoSans-Regular.ttf");
}


/* 
  ====================
  Colors
  ====================
*/

:root {
  --black: #202020;
  --dark-grey: #3f3f3f;
  --grey: #707070;
  --yellow: #ffdf6c;
  --white: #ffffff;
}


/* 
  ====================
  General
  ====================
*/

/* Headings */
header {
  background-color: var(--yellow);
  text-align: center;
  padding: 150px 0;
}

h1 {
  font-family: Bangers;
  font-size: 120px;
  margin: 20px 0;
  color: var(--dark-grey);
  letter-spacing: 6px;
}
h2 {
  font-family: Amatic;
  letter-spacing: 1px;
  font-size: 50px;
  color: var(--grey);
  margin: 10px;
}
h3 {
  font-family: Pattaya;
  font-size: 30px;
  margin: 5px;     
  color: var(--white);
}
h4 {
  font-family: Syncopate;
  font-size: 40px;
  margin: 25px;
}

/* Nav */
nav {
  text-align: center;
  padding: 100px 0;
}

nav ul li {
   font-family: Pontano;
   border: 3px solid;
   border-color: var(--dark-grey);
   display: inline-block;
   padding: 10px 30px;
   border-radius: 7px;
   font-size: 30px;
}
nav ul li a {
  color: var(--dark-grey);
}

nav ul li:hover {
  background-color: var(--grey);
  border-color: var(--white);
}
nav ul li:hover a {
  color: var(--white);
}


/* 
  ====================
  Play Button
  ====================
*/

.play-btn {
  display: inline-flex;
  height: 110px;
  width: 110px;
  border: 4px solid transparent;
  border-radius: 50%;
  align-items: center;
}
.play-btn .tri1 {
  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 60px solid #3f3f3f;
  position: relative;
  left: 34px;
}
.play-btn .tri2 {
  width: 0px;
  height: 0px;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;
  border-left: 48px solid #fff;
  position: relative;
  right: 22px;
}

.play-btn:hover {
  border: 4px solid;
  border-color: var(--dark-grey);
}


/* 
  ====================
  Forms
  ====================
*/

.site-form {
  width: 800px;
  margin: 100px auto;
  text-align: center;
}

.site-form p {
  font-family: Shadows;
  font-size: 30px;
  margin-bottom: 30px;
}

.site-form button {
  margin-top: 50px;
  background-color: var(--white);
  padding: 5px 20px;
  font-family: Syncopate;
  border-color: var(--yellow);
  border-radius: 5px;
  font-size: 20px;
}
.site-form button:hover {
  border-color: var(--white);
  color: var(--white);
  background-color: var(--yellow);
}

.site-form label {
  font-family: Amatic;
  font-size: 30px;
  padding: 20px 170px;
}

.site-form table th {
  text-align: left;
}


/* 
  ====================
  Recommendations
  ====================
*/

ol {
  width: 800px;
  margin: 100px auto;
  list-style: decimal;
  font-family: Bangers;
  font-size: 30px;
  letter-spacing: 1px;
}
ol li {
  margin: 30px 150px;
}