<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sickflix</title>
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    </head>
    <body>
        <header>
            <h3>Welcome to</h3>
            <h1>Sickflix</h1>
            <h2>Get Instant Movie Recommendations</h2>
        </header>
        <nav>
            <ul>
                <li><a href="{{ url_for('get_prefs') }}">
                    <div class="play-btn">
                        <div class="tri1"></div>
                        <div class="tri2"></div>
                    </div>
                </a></li>
            </ul>
        </nav>
    </body>
</html>