<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sickflix</title>
    </head>
    <body>
        <header>
            <h3>Welcome to</h3>
            <h1>Sickflix</h1>
            <h2>Get Instant Movie Recommendations</h2>
        </header>
        <main>
            <ol>
                <h4>Your Recommendations</h4>
                {% for rec in recs %}
                    <li>{{ rec }}</li>
                {% endfor %}
            </ol>
        </main>
        <nav>
            <ul>
                <li><a href="{{ url_for('landing') }}">Wanna try again?</a></li>
            </ul>
        </nav>
    </body>
</html>