<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Sickflix</title>
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    </head>
    <style>
        h1 {
            font-size: 40px;
        }
        header {
            padding: 10px;
        }
    </style>
    <body>
        <header>
            <h1>Sickflix</h1>
        </header>
        <main>
            <ol>
                <h4>Your Recommendations</h4>
                {% for rec in recs %}
                    <li>{{ rec }}</li>
                {% endfor %}
            </ol>
        </main>
        <nav>
            <ul>
                <li><a href="{{ url_for('landing') }}">Try again</a></li>
            </ul>
        </nav>
    </body>
</html>